<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">
    <script src="https://kit.fontawesome.com/a54879e6c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Añadir empleado</title>
</head>

<body>
    <%-include ('partials/_header') %>

    <div class="container">
        <h1>Actualizar Empleado</h1>
        <form action="/api/employee/update-employee/<%= data.idEmpleado%>" method="POST" autocomplete="off">
            <input type="text" name="nombres" placeholder="Nombre" value="<%= data.nombres%>" required>
            <input type="text" name="Apaterno" placeholder="Apellido Paterno" value="<%= data.Apaterno%>" required>
            <input type="text" name="Amaterno" placeholder="Apellido Materno" value="<%= data.Amaterno%>" required>
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" value="<%= data.nombreUsuario%>" required>
            <input type="number" name="telefono" placeholder="Número telefónico" value="<%= data.telefono %>" min="10" required>
            <input type="email" name="correo" placeholder="Correo electrónico" value="<%= data.correo%>" required>
            <input type="password" name="password" placeholder="Contraseña" value="<%= data.password%>" required>
            <input type="submit" value="Actualizar Empleado">
        </form>
    </div>

</body>

</html>