<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <script src="https://kit.fontawesome.com/a54879e6c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Listado de clientes</title>
</head>

<body>
    <%-include ('partials/_header') %>

</body>
    <div class="container">
        <h1>Lista de Empleados</h1>

        <table>
            <thead>
                <tr>
                    <th>idEmpleado</th>
                    <th>nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Maerno</th>
                    <th>Nombre de usuario</th>
                    <th>Telefono</th>
                    <th>correo</th>
                    <th>Fecha de registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <% if (employees) { %>
            <tbody>
                <% for (var i=0; i < employees.length; i++) { %>
                <tr>
                    <td><%= employees[i].idEmpleado %></td>
                    <td><%= employees[i].nombres %></td>
                    <td><%= employees[i].Apaterno %></td>
                    <td><%= employees[i].Amaterno %></td>
                    <td><%= employees[i].nombreUsuario %></td>
                    <td><%= employees[i].telefono %></td>
                    <td><%= employees[i].correo %></td>
                    <td><%= employees[i].fechaRegistro %></td>
                    <td>
                        <!-- <a href="/api/employee/delete-employee/<%= employees[i].idEmpleado%>" class="btn btn-danger">Eliminar</a> -->
                        <a href="/api/employee/update-employee/<%= employees[i].idEmpleado%>" class="btn-update">Actualizar</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
            <% } %>
        </table>
    </div>
</html>