<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <script src="https://kit.fontawesome.com/a54879e6c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Listado de facturas</title>
</head>

<body>
    <%-include ('partials/_header') %>

</body>
    <div class="container">
        <h1>Lista de Facturas</h1>

        <table>
            <thead>
                <tr>
                    <th>idFactura</th>
                    <th>Proveedor</th>
                    <th>Subtotal</th>
                    <th>Descuentos</th>
                    <th>IVA</th>
                    <th>IEPS</th>
                    <th>Total</th>
                    <th>Fecha de registro</th>
                </tr>
            </thead>
            <% if (invoiceData) { %>
            <tbody>
                <% for (var i=0; i < invoiceData.length; i++) { %>
                <tr>
                    <td><%= invoiceData[i].idFactura %></td>
                    <td><%= invoiceData[i].idProveedor %></td>
                    <td><%= invoiceData[i].subtotal %></td>
                    <td><%= invoiceData[i].descuento %></td>
                    <td><%= invoiceData[i].IVA %></td>
                    <td><%= invoiceData[i].IEPS %></td>
                    <td><%= invoiceData[i].total %></td>
                    <td><%= invoiceData[i].fechaRegistro %></td>
                </tr>
                <% } %>
            </tbody>
            <% } %>
        </table>
    </div>
</html>